




.cart-page {
    min-height: 600px;
    background-color: aquamarine;
    padding-top: 120px;
}

.cart-page h1 {
    text-align: center;
    margin-bottom: 0;
}

.cart-container {
    display: flex;
}

.cart-container .products {
    flex: 4;
}

.cart-container .side-menu {
    flex: 1;
    background-color: blanchedalmond;
}